<div class="container-cadastro">
  <h1 class="page-header">Cadastro</h1>

  <div class="form-login">

    <form novalidate name="formLogin">

      <div class="form-group">
        <label for="name">Nome</label>
        <input ng-model="user.name" type="text" class="form-control" name="name" id="name">
      </div>

      <div class="form-group">
        <label for="apelido">Apelido</label>
        <input ng-model="user.nickname" type="text" class="form-control" name="apelido" id="apelido">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input ng-model="user.email" type="email" class="form-control" name="email" id="email">
      </div>

      <div class="form-group">
        <label for="senha">Senha</label>
        <input ng-model="user.passwd" type="password" class="form-control" name="senha" id="senha" >
      </div>

      <div class="form-group">
        <label for="dtnasc">Data de Nascimento</label>
        <input ng-model="user.birthDate" type="text" class="form-control" name="dtnasc" id="dtnasc">
      </div>

      <div class="form-group">
        <label for="perfil">Imagem de Perfil</label>
        <input ng-model="user.profilePicture" type="text" class="form-control" name="perfil" id="perfil">
      </div>

      <button type="submit" class="btn btn-default" ng-click="registrar()">Salvar</button>
      <!-- <button type="submit" class="btn btn-default" ng-if="isAlterar" ng-click="atualizar()">Salvar</button> -->

    </form>

  </div>
</div>
